
h1, .container, .allOutput {
  text-align: center;
  font-family: 'Arapey', serif;
  font-weight: bold;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
}

.allOutput {
  width: 300px;
  height: 300px;
  background-color: #83C2CD;
  box-shadow: 0 0 20px 4px #626363;
  font-size: 15px;
}

.comment {
  border: none;
  color: #FBE5E6;
  background-color: #C94D49;
}

.container {
  margin-bottom: 20px;
}

.description {
  padding: 45% 30px 0 30px;
}

.likes {
  float: left;
  border: none;
  margin-left: 20%;
  color: #FBE5E6  ;
  background-color: #FD7F7F;
}

.allOutput, .comment, .image, .likes, .views, #galleryDisplay {
  border-radius: 3px;
}

.likes, .views, .comment {
  height: 100%;
  box-shadow: 0 0 10px 2px #636464;
}

.views {
  float: right;
  padding: 5px;
  margin-right: 20%;
  background-color: #F9E7E4;
}

#galleryDisplay {
  width: 325px;
  height: 425px;
  background-color: #D0D0D0;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: none;
}
#trackers {
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
